<!-- Footer-->
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-left">Copyright © IPTechnology {{ year }}</div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-youtube"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="mailto:contactus@iptechnology.org"><i class="fas fa-at"></i></a>
      </div>
      <div class="col-lg-4 text-lg-right">
        <!-- <a class="mr-3" href="#!">Privacy Policy</a>
        <a href="#!">Terms of Use</a> -->
      </div>
    </div>
  </div>
</footer>