<div class="row">
    <div class="col-lg-6 pr-5" style="text-align: justify;">
        <p [innerHTML]="'HOME.MAIN_TEXT_1' | translate"></p>
        <p [innerHTML]="'HOME.MAIN_TEXT_2' | translate"></p>
        <p [innerHTML]="'HOME.MAIN_TEXT_3' | translate"></p>
    </div>
    <div class="col-lg-6 text-align-center">
        <!-- style="border: 1px solid black; padding: 20px; height: 420px;" -->
        <video controls controlsList="nodownload" style="width: 100%; height: 420px; border: 1px solid #cecece;">
            <source src="./assets/media/videos/video1.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
        </video>
        <!-- <img src="./assets/media/svg/ICONO IPT LOGO NEGRO_Video contorno.svg" style="margin-top: 107px; width: 150px;"> -->
    </div>
</div>
<div class="row mt-5 text-align-center">
    <div class="col-lg-6 my-auto" style="text-align: center;">
        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/media/svg/logo.svg" style="width: 158px;">
                <h4 style="margin-top: 77px;">tecnología efpIP</h4>
            </div>
            <div class="col-lg-4">
                <img src="./assets/media/svg/logo_tS.svg" style="width: 200px;">
                <h4 class="mt-5">tabla Stegensek</h4>
            </div>
            <div class="col-lg-4">
                <img src="./assets/media/svg/logo_mA.svg" style="width: 158px;">
                <h4 class="mt-5">metodología Armas</h4>
            </div>
        </div>
        <!-- <h2 class="mb-5" style="color: red;">IPT.R</h2>
        <img src="./assets/media/download.png" style="width: 400px;"> -->
    </div>
    <div class="col-lg-6">
        <p [innerHTML]="'HOME.DOWNLOAD' | translate"></p>
        <h2 [innerHTML]="'HOME.IP_RESEARCH' | translate"></h2>
        <img src="./assets/media/svg/logo_ipresearch.svg" style="width: 158px;">
        <div class="row">
            <div class="col-6">
                <img src="./assets/img/ios-button.png" style="width: 200px; margin-top: 4px;" />
            </div>
            <div class="col-6">
                <a
                    href='https://play.google.com/store/apps/details?id=com.iptechnology.ipresearch&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                        alt='Get it on Google Play' style="width: 200px;"
                        src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' />
                </a>
                <br />
                <img src="./assets/img/QR_IPResearch.jpeg" style="width: 158px;">
            </div>
        </div>
        <!-- <img src="./assets/media/download.png" style="width: 400px;"> -->
    </div>
</div>