<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" style="padding: 0px !important;" routerLink="/home"><img
        src="assets/media/logos/logo.svg" alt="" /></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      {{ 'MENU.MENU' | translate }}
      <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link js-scroll-trigger" routerLink="/home">{{
            'MENU.HOME' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link js-scroll-trigger"
            routerLink="/stegensek-tables">{{ 'MENU.STEGENSEK' | translate }}</a></li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ 'MENU.IPTECH_AGENTS' | translate }}
          </a>
          <div class="dropdown-menu position-absolute" aria-labelledby="navbarDropdown">
            <a *ngFor="let agent of agents" class="dropdown-item nav-link" [href]="agent.web" target="_blank">
              {{ agent.fullname }}
            </a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <label class="nav-link js-scroll-trigger dropdown-toggle">QT6</label>
          <ul class="dropdown-menu">
            <li><a class="nav-link js-scroll-trigger" href="#">Coro Stegensek</a></li>
            <li><a class="nav-link js-scroll-trigger" href="#">Cristina Armas</a></li>
            <li><a class="nav-link js-scroll-trigger" href="#">Clara Porras</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li> -->
      </ul>
    </div>
  </div>
  <app-language-selector></app-language-selector>
</nav>