<ng-container *ngIf="!logged">
  <app-fake-login></app-fake-login>
</ng-container>
<ng-container *ngIf="logged">
  <app-header></app-header>
  <div class="wrapper-body px-5">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</ng-container>