<div class="row">
  <div class="col-1 my-auto">
    <img src="./assets/media/svg/logo_tS.svg" style="width: 100%;">
  </div>
  <div class="col-11 text-align-justify mt-auto">
    <p [innerHTML]="'STEGENSEK.INFO' | translate"></p>
  </div>
</div>

<div class="row mt-5" *ngIf="searchFamilyList">
  <div class="col-12">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'STEGENSEK.REGULATORY_FRAMEWORK' | translate }}</mat-label>
      <mat-select>
        <mat-option value="null">
          {{ 'STEGENSEK.REGULATORY_FRAMEWORK_LIST.EUROPE' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row" *ngIf="searchFamilyList">
  <div class="col-12">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'STEGENSEK.FAMILY' | translate }}</mat-label>
      <mat-select [matTooltip]="familySelected ? familySelected.code + ' - ' + familySelected.name : null">
        <input matInput #familySearchInput class="input-select" cdkFocusInitial
          [placeholder]="'STEGENSEK.SEARCH_FAMILY' | translate" (keydown)="$event.stopPropagation()"
          (keyup)="onSearchFamily($event.target.value)" autocomplete="off">
        <mat-option (onSelectionChange)="selectFamily($event)" *ngFor="let family of searchFamilyList"
          [value]="family.id" [matTooltip]="family.code + ' - ' + family.name">
          {{ family.code }} - {{ family.name }}
        </mat-option>
        <mat-option *ngIf="searchFamilyList?.length === 0" [value]="null" [disabled]="true">{{
          'STEGENSEK.FAMILY_NOT_FOUND' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row" *ngIf="familySelected">
  <div class="col-12">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'STEGENSEK.TAG' | translate }}</mat-label>
      <mat-select [matTooltip]="tagSelected ? tagSelected.code + ' - ' + tagSelected.name : null">
        <input matInput #tagSearchInput class="input-select" cdkFocusInitial
          [placeholder]="'STEGENSEK.SEARCH_TAG' | translate" (keydown)="$event.stopPropagation()"
          (keyup)="onSearchTag($event.target.value)" autocomplete="off">
        <mat-option (onSelectionChange)="selectTag($event)" *ngFor="let tag of searchTagList" [value]="tag.id"
          [matTooltip]="tag.code + ' - ' + tag.name">
          {{ tag.code }} - {{ tag.name }}
        </mat-option>
        <mat-option *ngIf="searchTagList?.length === 0" [value]="null" [disabled]="true">{{ 'STEGENSEK.TAG_NOT_FOUND' |
          translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<ng-container *ngIf="!isLoadingIps && tagSelected">
  <div class="ips-wrapper" *ngIf="tagSelected">
    <div class="row my-4">
      <div class="col-12">
        <h4 id="ip-list">{{ 'STEGENSEK.IP_LIST' | translate }}</h4>
      </div>
    </div>

    <div class="row" *ngIf="filteredEpisToShow?.length > 0">
      <ng-container *ngFor="let epi of filteredEpisToShow">
        <div class="col-xl-3 col-md-4 col-sm-6 col-12 text-align-center my-5" *ngIf="epi.imageToShow">
          <img [src]="epi.imageToShow | safe:'url': true"
            style="height: 255px !important; max-height: 255px !important; width: 255px !important; max-width: 255px !important;"
            class="img-fluid cursor-none" [class.img-qr-active]="epi.imageToShow === epi.qrElemental"
            onerror="'./assets/img/no-photo.jpg'" (mouseover)="epi.imageToShow = epi.qrElemental || noImageUrl"
            (mouseleave)="epi.imageToShow = epi.image" />
        </div>
      </ng-container>
    </div>

    <div class="row" *ngIf="filteredEpisToShow?.length === 0">
      <div class="col-12 text-align-center">
        <label>{{ 'STEGENSEK.EMPTY_LIST' | translate }}</label>
      </div>
    </div>

    <div class="row mt-3" *ngIf="filteredEpisToShow?.length > 0">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="actualPage === 0">
            <button type="button" class="page-link" [disabled]="actualPage === 0" (click)="pagging(actualPage - 1)">{{
              'PAGINATOR.PREVIOUS' | translate }}</button>
          </li>
          <li class="page-item" *ngFor="let page of pages" [class.active]="actualPage === page">
            <button type="button" class="page-link" (click)="pagging(page)">{{ page + 1 }}</button>
          </li>
          <li class="page-item" [class.disabled]="actualPage === pages.length - 1">
            <button type="button" class="page-link" [disabled]="actualPage === pages.length - 1"
              (click)="pagging(actualPage + 1)">{{ 'PAGINATOR.NEXT' | translate }}</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isLoadingIps && tagSelected">
  <div class="row mt-5">
    <div class="col-12 text-align-center">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>
</ng-container>