<form [formGroup]="formGroup" (ngSubmit)="login()">
  <div class="row">
    <div class="col-12">
      <img src="./assets/media/logos/iptechnology-hueco.svg" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput cdkFocusInitial type="password" formControlName="password" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary">Entrar</button>
    </div>
  </div>
</form>