<!--begin::Languages-->
<div class="dropdown" placement="bottom-right">
  <!--begin::Toggle-->
  <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
      <img class="flag rounded" src="{{ language?.flag }}" alt="language" />
    </div>
  </div>
  <!--end::Toggle-->

  <!--begin::Dropdown-->
  <div class="language-dropdown dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
    <ul class="language nav-hover py-4">
      <ng-container *ngFor="let language of languages">
        <li class="nav-item" [ngClass]="{ active: language.active }">
          <label class="nav-link" style="cursor: pointer;" (click)="setLanguageWithRefresh(language.lang)"
            [ngClass]="{ active: language.active }" class="nav-link">
            <span class="symbol symbol-20 mr-3">
              <img src="{{ language.flag }}" />
            </span>
            <span class="nav-text">{{ language.name }}</span>
          </label>
        </li>
      </ng-container>
    </ul>
  </div>
  <!--end::Dropdown-->
</div>
<!--end::Languages-->